n8n/02-lookups.json
{
  "name": "RH · lookups",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lookups",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "rh-lookups"
    },
    {
      "parameters": {
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "cities",
        "options": {}
      },
      "id": "b2000001-0002-0002-0002-000000000002",
      "name": "Read cities",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 250],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "workshops",
        "options": {}
      },
      "id": "b2000001-0003-0003-0003-000000000003",
      "name": "Read workshops",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 400],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "departments",
        "options": {}
      },
      "id": "b2000001-0004-0004-0004-000000000004",
      "name": "Read departments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 550],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toBool = v => v === true || v === 'TRUE' || v === 'true';\nconst cities      = $('Read cities').all().map(x => x.json).filter(r => toBool(r.is_active));\nconst workshops   = $('Read workshops').all().map(x => x.json).filter(r => toBool(r.is_active));\nconst departments = $('Read departments').all().map(x => x.json).filter(r => toBool(r.is_active));\nreturn [{ json: {\n  cities:      cities.map(r => ({ id: r.city_id,       label: r.city_label,       is_active: true })),\n  workshops:   workshops.map(r => ({ id: r.workshop_id, label: r.workshop_label, city_id: r.city_id, short: r.short_name, is_active: true })),\n  departments: departments.map(r => ({ id: r.department_id, label: r.department_label, color: r.color, is_active: true })),\n}}];"
      },
      "id": "b2000001-0005-0005-0005-000000000005",
      "name": "Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "b2000001-0006-0006-0006-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [ [
      { "node": "Read cities",      "type": "main", "index": 0 },
      { "node": "Read workshops",   "type": "main", "index": 0 },
      { "node": "Read departments", "type": "main", "index": 0 }
    ] ] },
    "Read cities":      { "main": [ [ { "node": "Shape", "type": "main", "index": 0 } ] ] },
    "Read workshops":   { "main": [ [ { "node": "Shape", "type": "main", "index": 0 } ] ] },
    "Read departments": { "main": [ [ { "node": "Shape", "type": "main", "index": 0 } ] ] },
    "Shape": { "main": [ [ { "node": "Respond", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "pinData": {}
}
