n8n/03-users-list.json
{
  "name": "RH · users-list",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "users-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "rh-users-list"
    },
    {
      "parameters": {
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "users",
        "options": {}
      },
      "id": "c3000001-0002-0002-0002-000000000002",
      "name": "Read users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 300],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toBool = v => v === true || v === 'TRUE' || v === 'true';\nconst users = $input.all().map(x => x.json).filter(u => toBool(u.is_active));\nreturn [{ json: { users } }];"
      },
      "id": "c3000001-0003-0003-0003-000000000003",
      "name": "Filter active",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "c3000001-0004-0004-0004-000000000004",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook":       { "main": [ [ { "node": "Read users",    "type": "main", "index": 0 } ] ] },
    "Read users":    { "main": [ [ { "node": "Filter active", "type": "main", "index": 0 } ] ] },
    "Filter active": { "main": [ [ { "node": "Respond",       "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "pinData": {}
}
