n8n/06-users-update.json
{
  "name": "RH · users-update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "users-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "rh-users-update"
    },
    {
      "parameters": {
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "users",
        "options": {}
      },
      "id": "f6000001-0002-0002-0002-000000000002",
      "name": "Read users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 300],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body || {};\nconst rows = $input.all().map(x => x.json);\nconst existing = rows.find(u => u.user_id === body.user_id);\nif (!existing) throw new Error('USER_NOT_FOUND');\nconst patch = body.patch || {};\nconst merged = {\n  ...existing,\n  full_name:     patch.full_name     ?? existing.full_name,\n  username:      patch.username      ?? existing.username,\n  role:          patch.role          ?? existing.role,\n  workshop_id:   patch.workshop_id   ?? existing.workshop_id ?? '',\n  department_id: patch.department_id ?? existing.department_id ?? '',\n  color:         patch.color         ?? existing.color,\n  password:      patch.password      ?? existing.password ?? '',\n};\nreturn [{ json: merged }];"
      },
      "id": "f6000001-0003-0003-0003-000000000003",
      "name": "Merge patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "users",
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["user_id"]
        },
        "options": {}
      },
      "id": "f6000001-0004-0004-0004-000000000004",
      "name": "Update row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 300],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ user: $json }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "f6000001-0005-0005-0005-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook":     { "main": [ [ { "node": "Read users",   "type": "main", "index": 0 } ] ] },
    "Read users":  { "main": [ [ { "node": "Merge patch",  "type": "main", "index": 0 } ] ] },
    "Merge patch": { "main": [ [ { "node": "Update row",   "type": "main", "index": 0 } ] ] },
    "Update row":  { "main": [ [ { "node": "Respond",      "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "pinData": {}
}
