n8n/08-issues-get.json
{
  "name": "RH · issues-get",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "issues-get",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "h8000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "rh-issues-get"
    },
    {
      "parameters": {
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "issues",
        "options": {}
      },
      "id": "h8000001-0002-0002-0002-000000000002",
      "name": "Read issues",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 200],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "issue_comments",
        "options": {}
      },
      "id": "h8000001-0003-0003-0003-000000000003",
      "name": "Read comments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 350],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "issue_attachments",
        "options": {}
      },
      "id": "h8000001-0004-0004-0004-000000000004",
      "name": "Read attachments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 500],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "documentId": "={{ $vars.SHEET_ID }}",
        "sheetName": "users",
        "options": {}
      },
      "id": "h8000001-0005-0005-0005-000000000005",
      "name": "Read users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 650],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_GOOGLE_SA_CRED_ID",
          "name": "RefurbHelpdesk SA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body || {};\nconst { issue_id, scope = {} } = body;\n\n// Dedupe in case chained Read nodes multiplied the rows\nconst uniq = (arr, key) => {\n  const seen = new Set();\n  return arr.filter(x => { if (seen.has(x[key])) return false; seen.add(x[key]); return true; });\n};\n\nconst issue = uniq($('Read issues').all().map(x => x.json), 'issue_id').find(i => i.issue_id === issue_id);\nif (!issue) {\n  return [{ json: { __notFound: true } }];\n}\n\nlet comments = uniq($('Read comments').all().map(x => x.json), 'comment_id').filter(c => c.issue_id === issue_id);\nconst attachments = uniq($('Read attachments').all().map(x => x.json), 'attachment_id').filter(a => a.issue_id === issue_id);\nconst users = Object.fromEntries(uniq($('Read users').all().map(x => x.json), 'user_id').map(u => [u.user_id, u]));\n\nconst isAdmin = scope.role === 'admin';\nconst isRaiser = scope.user_id === issue.raised_by;\nif (!isAdmin && !isRaiser) {\n  comments = comments.filter(c => c.is_internal !== 'TRUE' && c.is_internal !== true);\n}\n\nconst issueOut = isAdmin ? issue : (() => { const { ai_triage_note, ...rest } = issue; return rest; })();\n\nreturn [{ json: {\n  issue: issueOut,\n  comments: comments.sort((a, b) => new Date(a.created_at) - new Date(b.created_at)),\n  attachments,\n  raiser: users[issue.raised_by] || null,\n  assignee: issue.assigned_to ? (users[issue.assigned_to] || null) : null,\n}}];"
      },
      "id": "h8000001-0006-0006-0006-000000000006",
      "name": "Assemble",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.__notFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h8000001-0007-0007-0007-000000000007",
      "name": "Not found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Issue not found\", \"code\": \"NOT_FOUND\" }",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "h8000001-0008-0008-0008-000000000008",
      "name": "Respond 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "h8000001-0009-0009-0009-000000000009",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1160, 500]
    }
  ],
  "connections": {
    "Webhook": { "main": [ [
      { "node": "Read issues",      "type": "main", "index": 0 },
      { "node": "Read comments",    "type": "main", "index": 0 },
      { "node": "Read attachments", "type": "main", "index": 0 },
      { "node": "Read users",       "type": "main", "index": 0 }
    ] ] },
    "Read issues":      { "main": [ [ { "node": "Assemble", "type": "main", "index": 0 } ] ] },
    "Read comments":    { "main": [ [ { "node": "Assemble", "type": "main", "index": 0 } ] ] },
    "Read attachments": { "main": [ [ { "node": "Assemble", "type": "main", "index": 0 } ] ] },
    "Read users":       { "main": [ [ { "node": "Assemble", "type": "main", "index": 0 } ] ] },
    "Assemble":         { "main": [ [ { "node": "Not found?", "type": "main", "index": 0 } ] ] },
    "Not found?":       { "main": [
      [ { "node": "Respond 404", "type": "main", "index": 0 } ],
      [ { "node": "Respond 200", "type": "main", "index": 0 } ]
    ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "pinData": {}
}
