n8n/10-issues-update.json
{
  "name": "RH · issues-update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "issues-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "j0000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "rh-issues-update"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName": { "__rl": true, "mode": "list", "value": "issues", "cachedResultName": "issues" },
        "options": {}
      },
      "id": "j0000001-0002-0002-0002-000000000002",
      "name": "Read issues",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName": { "__rl": true, "mode": "list", "value": "users", "cachedResultName": "users" },
        "options": {}
      },
      "id": "j0000001-0006-0006-0006-000000000006",
      "name": "Read users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 460],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body || {};\nconst { issue_id, patch = {}, scope = {}, actor = {} } = body;\nconst eff = Object.keys(scope).length ? scope : actor;\n\nif (!issue_id) throw new Error('MISSING_ISSUE_ID');\n\nconst issues = $('Read issues').all().map(x => x.json);\nconst issue = issues.find(i => i.issue_id === issue_id);\nif (!issue) throw new Error('ISSUE_NOT_FOUND');\n\nconst users = Object.fromEntries(\n  $('Read users').all().map(x => x.json).map(u => [u.user_id, u])\n);\n\nconst isAdmin    = eff.role === 'admin';\nconst isManager  = eff.role === 'manager';\nconst isPOC      = eff.role === 'poc';\nconst isRaiser   = eff.user_id === issue.raised_by;\nconst isAssignee = eff.user_id === issue.assigned_to;\n\nif (!isAdmin && !isManager && !isRaiser && !(isPOC && isAssignee)) throw new Error('FORBIDDEN');\n\nconst merged = {\n  ...issue,\n  title:       patch.title       ?? issue.title,\n  description: patch.description ?? issue.description,\n  category:    patch.category    ?? issue.category,\n  updated_at:  new Date().toISOString(),\n};\n\nconst canManage = isAdmin || isManager;\nconst canChangeStatus = canManage || (isPOC && isAssignee);\n\nif (canManage) {\n  merged.priority    = patch.priority    ?? issue.priority;\n  merged.assigned_to = patch.assigned_to !== undefined ? patch.assigned_to : issue.assigned_to;\n}\nif (canChangeStatus && patch.status) {\n  const allowed = ['open', 'assigned', 'in_progress', 'resolved', 'reopened', 'closed'];\n  if (!allowed.includes(patch.status)) throw new Error('INVALID_STATUS');\n  merged.status = patch.status;\n}\n\n// Was this an assignment action?\nconst wasAssigned = patch.assigned_to && patch.assigned_to !== issue.assigned_to;\nconst assignee = wasAssigned ? (users[patch.assigned_to] || null) : null;\nconst actor_user = users[eff.user_id] || null;\n\nreturn [{ json: {\n  ...merged,\n  __slack: wasAssigned ? {\n    event: 'issue_assigned',\n    issue_id: merged.issue_id,\n    title: merged.title,\n    description: merged.description,\n    category: merged.category,\n    priority: merged.priority,\n    status: merged.status,\n    workshop_label: merged.workshop_id,\n    raiser_name: (users[merged.raised_by] || {}).full_name || merged.raised_by,\n    actor_name: (actor_user || {}).full_name || eff.user_id,\n    assignee_name: (assignee || {}).full_name || patch.assigned_to,\n  } : null,\n}}];"
      },
      "id": "j0000001-0003-0003-0003-000000000003",
      "name": "Merge patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName": { "__rl": true, "mode": "list", "value": "issues", "cachedResultName": "issues" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_id":       "={{ $json.issue_id }}",
            "title":          "={{ $json.title }}",
            "description":    "={{ $json.description }}",
            "category":       "={{ $json.category }}",
            "priority":       "={{ $json.priority }}",
            "status":         "={{ $json.status }}",
            "assigned_to":    "={{ $json.assigned_to }}",
            "ai_triage_note": "={{ $json.ai_triage_note }}",
            "updated_at":     "={{ $json.updated_at }}"
          },
          "matchingColumns": ["issue_id"]
        },
        "options": {}
      },
      "id": "j0000001-0004-0004-0004-000000000004",
      "name": "Update row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [940, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Merge patch').first().json.__slack }}",
              "rightValue": "",
              "operator": { "type": "object", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "j0000001-0007-0007-0007-000000000007",
      "name": "Was assigned?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-xtdwg-u30560.vm.elestio.app/webhook/slack-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Merge patch').first().json.__slack) }}",
        "options": {}
      },
      "id": "j0000001-0008-0008-0008-000000000008",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ issue: $('Merge patch').first().json }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "j0000001-0005-0005-0005-000000000005",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1600, 300]
    }
  ],
  "connections": {
    "Webhook":      { "main": [ [
      { "node": "Read issues", "type": "main", "index": 0 },
      { "node": "Read users",  "type": "main", "index": 0 }
    ] ] },
    "Read issues":  { "main": [ [ { "node": "Merge patch",  "type": "main", "index": 0 } ] ] },
    "Read users":   { "main": [ [ { "node": "Merge patch",  "type": "main", "index": 0 } ] ] },
    "Merge patch":  { "main": [ [ { "node": "Update row",   "type": "main", "index": 0 } ] ] },
    "Update row":   { "main": [ [ { "node": "Was assigned?","type": "main", "index": 0 } ] ] },
    "Was assigned?":{ "main": [
      [ { "node": "Notify Slack", "type": "main", "index": 0 } ],
      [ { "node": "Respond 200",  "type": "main", "index": 0 } ]
    ] },
    "Notify Slack": { "main": [ [ { "node": "Respond 200",  "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "pinData": {}
}
