n8n/13-attachments-upload.json
{
  "name": "RH · attachments-upload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attachments-upload",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "id": "m3000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "rh-attachments-upload"
    },
    {
      "parameters": {
        "jsCode": "// Extract fields from multipart form\nconst webhookData = $input.first();\nconst body = webhookData.json.body || {};\n\nconst issue_id  = body.issue_id  || '';\nconst author_id = body.author_id || '';\n\nif (!issue_id)  throw new Error('MISSING_ISSUE_ID');\nif (!author_id) throw new Error('MISSING_AUTHOR_ID');\n\n// Binary file is in webhookData.binary\nconst binaryKeys = Object.keys(webhookData.binary || {});\nif (!binaryKeys.length) throw new Error('NO_FILE');\n\nconst fileKey = binaryKeys[0];\nconst file    = webhookData.binary[fileKey];\n\n// 25 MB limit\nif (file.fileSize && file.fileSize > 25 * 1024 * 1024) {\n  throw new Error('FILE_TOO_LARGE');\n}\n\nconst safeName = (file.fileName || 'upload').replace(/[^a-zA-Z0-9._-]/g, '_');\n\nreturn [{ json: { issue_id, author_id, fileName: safeName, mimeType: file.mimeType || 'application/octet-stream' }, binary: { file: file } }];"
      },
      "id": "m3000001-0002-0002-0002-000000000002",
      "name": "Validate + extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "folderId": { "__rl": true, "mode": "id", "value": "REPLACE_WITH_DRIVE_FOLDER_ID" },
        "inputDataFieldName": "file",
        "options": {
          "mimeType": "={{ $json.mimeType }}"
        }
      },
      "id": "m3000001-0003-0003-0003-000000000003",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName": { "__rl": true, "mode": "list", "value": "issue_attachments", "cachedResultName": "issue_attachments" },
        "options": {}
      },
      "id": "m3000001-0004-0004-0004-000000000004",
      "name": "Read attachments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [680, 480],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const uploadResult = $('Upload to Drive').first().json;\nconst prevData     = $('Validate + extract').first().json;\nconst attachments  = $('Read attachments').all().map(x => x.json);\n\nconst aNums = attachments\n  .map(a => parseInt((a.attachment_id || '').replace('ATT-', ''), 10))\n  .filter(n => !isNaN(n));\nconst next = aNums.length ? Math.max(...aNums) + 1 : 1;\nconst attachment_id = 'ATT-' + String(next).padStart(4, '0');\n\nconst fileId = uploadResult.id;\nconst viewUrl = `https://drive.google.com/file/d/${fileId}/view`;\n\nreturn [{ json: {\n  attachment_id,\n  issue_id:    prevData.issue_id,\n  author_id:   prevData.author_id,\n  file_name:   prevData.fileName,\n  file_url:    viewUrl,\n  drive_id:    fileId,\n  mime_type:   prevData.mimeType,\n  created_at:  new Date().toISOString(),\n}}];"
      },
      "id": "m3000001-0005-0005-0005-000000000005",
      "name": "Build attachment row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName": { "__rl": true, "mode": "list", "value": "issue_attachments", "cachedResultName": "issue_attachments" },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "m3000001-0006-0006-0006-000000000006",
      "name": "Append attachment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1120, 380],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ attachment: $json }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "m3000001-0007-0007-0007-000000000007",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 380]
    }
  ],
  "connections": {
    "Webhook":            { "main": [ [ { "node": "Validate + extract", "type": "main", "index": 0 } ] ] },
    "Validate + extract": { "main": [ [
      { "node": "Upload to Drive",   "type": "main", "index": 0 },
      { "node": "Read attachments",  "type": "main", "index": 0 }
    ] ] },
    "Upload to Drive":   { "main": [ [ { "node": "Build attachment row", "type": "main", "index": 0 } ] ] },
    "Read attachments":  { "main": [ [ { "node": "Build attachment row", "type": "main", "index": 0 } ] ] },
    "Build attachment row": { "main": [ [ { "node": "Append attachment", "type": "main", "index": 0 } ] ] },
    "Append attachment":    { "main": [ [ { "node": "Respond 200",       "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "pinData": {}
}
