n8n/14-ai-triage.json
{
  "name": "RH · ai-triage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-triage",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n4000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "rh-ai-triage"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName": { "__rl": true, "mode": "list", "value": "issues", "cachedResultName": "issues" },
        "options": {}
      },
      "id": "n4000001-0002-0002-0002-000000000002",
      "name": "Read issues",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body || {};\nconst { issue_id } = body;\nif (!issue_id) throw new Error('MISSING_ISSUE_ID');\n\nconst issues = $input.all().map(x => x.json);\nconst issue = issues.find(i => i.issue_id === issue_id);\nif (!issue) throw new Error('ISSUE_NOT_FOUND');\n\nconst systemPrompt = `You are a helpdesk triage assistant for a car-refurbishment workshop operations team.\nYour job: given a technician-submitted issue, output a JSON object with exactly these fields:\n{\n  \"priority\": \"critical\" | \"high\" | \"medium\" | \"low\",\n  \"category\": \"equipment\" | \"parts\" | \"software\" | \"safety\" | \"hr\" | \"other\",\n  \"triage_note\": \"<2-3 sentence summary of the issue and recommended action>\",\n  \"suggested_assignee_role\": \"admin\" | \"manager\" | null\n}\nRespond with raw JSON only — no markdown, no extra text.`;\n\nconst userPrompt = `Issue ID: ${issue.issue_id}\nTitle: ${issue.title}\nDescription: ${issue.description || '(none)'}\nWorkshop: ${issue.workshop_id}\nCurrent priority: ${issue.priority}\nCurrent category: ${issue.category}`;\n\nreturn [{ json: { issue, systemPrompt, userPrompt } }];"
      },
      "id": "n4000001-0003-0003-0003-000000000003",
      "name": "Build prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://proxy-implicit-unstable.ngrok-free.dev/api/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"system\": {{ JSON.stringify($json.systemPrompt) }},\n  \"prompt\": {{ JSON.stringify($json.userPrompt) }},\n  \"temperature\": 0.2\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "n4000001-0004-0004-0004-000000000004",
      "name": "Call AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const aiRaw = $input.first().json;\nconst issue  = $('Build prompt').first().json.issue;\n\n// Flexibly extract text from various AI response shapes\nconst text = aiRaw.text || aiRaw.output || aiRaw.response || aiRaw.content || aiRaw.message || JSON.stringify(aiRaw);\n\nlet parsed;\ntry {\n  // Strip markdown code fences if present\n  const cleaned = String(text).replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  // Fallback: don't crash, just keep existing values\n  parsed = {};\n}\n\nconst validPriority   = ['critical', 'high', 'medium', 'low'];\nconst validCategories = ['equipment', 'parts', 'software', 'safety', 'hr', 'other'];\n\nconst priority    = validPriority.includes(parsed.priority)   ? parsed.priority   : issue.priority;\nconst category    = validCategories.includes(parsed.category) ? parsed.category   : issue.category;\nconst triage_note = parsed.triage_note ? String(parsed.triage_note).slice(0, 1000) : '';\n\nreturn [{ json: {\n  issue_id:        issue.issue_id,\n  priority,\n  category,\n  ai_triage_note:  triage_note,\n  updated_at:      new Date().toISOString(),\n} }];"
      },
      "id": "n4000001-0005-0005-0005-000000000005",
      "name": "Parse AI response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName": { "__rl": true, "mode": "list", "value": "issues", "cachedResultName": "issues" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_id":       "={{ $json.issue_id }}",
            "priority":       "={{ $json.priority }}",
            "category":       "={{ $json.category }}",
            "ai_triage_note": "={{ $json.ai_triage_note }}",
            "updated_at":     "={{ $json.updated_at }}"
          },
          "matchingColumns": ["issue_id"]
        },
        "options": {}
      },
      "id": "n4000001-0006-0006-0006-000000000006",
      "name": "Update issue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1340, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ triage: $('Parse AI response').first().json }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "n4000001-0007-0007-0007-000000000007",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook":           { "main": [ [ { "node": "Read issues",       "type": "main", "index": 0 } ] ] },
    "Read issues":       { "main": [ [ { "node": "Build prompt",      "type": "main", "index": 0 } ] ] },
    "Build prompt":      { "main": [ [ { "node": "Call AI",           "type": "main", "index": 0 } ] ] },
    "Call AI":           { "main": [ [ { "node": "Parse AI response", "type": "main", "index": 0 } ] ] },
    "Parse AI response": { "main": [ [ { "node": "Update issue",      "type": "main", "index": 0 } ] ] },
    "Update issue":      { "main": [ [ { "node": "Respond 200",       "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "pinData": {}
}
