n8n/15-slack.json
{
  "name": "RH · slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "k1000001-0001-0001-0001-000000000001",
      "name": "Webhook notify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 200],
      "webhookId": "rh-slack-notify"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook notify').first().json.body || {};\nconst {\n  event = 'issue_created',\n  issue_id = '',\n  title = '',\n  description = '',\n  category = '',\n  raiser_name = '',\n  workshop_label = '',\n  priority = '',\n  status = '',\n  comment_body = '',\n  actor_name = '',\n  attachments = [],\n  channel_id,\n  custom_text,\n  thread_ts,\n} = body;\n\nconst APP_BASE = 'https://sabhyasachi.github.io/refurb-helpdesk';\nconst DEFAULT_CHANNEL = 'C0AUNBH7J77';\nconst link = issue_id ? `${APP_BASE}/#/issues/${issue_id}` : APP_BASE;\n\nconst isImg = (u = '') => /\\.(png|jpe?g|gif|webp)(\\?|$)/i.test(u);\nconst shorten = (s, n) => (s && s.length > n ? s.slice(0, n) + '…' : (s || ''));\n\nconst prioEmoji = {\n  urgent: '🔴', high: '🟠', medium: '🟡', low: '🟢',\n}[String(priority).toLowerCase()] || '⚪';\n\nlet headerText;\nif (event === 'issue_created')             headerText = `🛠️ New issue ${issue_id}`;\nelse if (event === 'issue_status_changed') headerText = `🔄 ${issue_id} → ${status}`;\nelse if (event === 'issue_reopened')       headerText = `♻️ ${issue_id} reopened`;\nelse if (event === 'comment_added')        headerText = `💬 New comment on ${issue_id}`;\nelse if (event === 'issue_assigned')       headerText = `👤 ${issue_id} assigned`;\nelse                                       headerText = `📣 ${issue_id || 'Update'}`;\n\nconst specLine = [\n  raiser_name && `Raised by *${raiser_name}*`,\n  workshop_label,\n  category,\n  priority && `${prioEmoji} *${String(priority).toUpperCase()}*`,\n  status && `status: *${status}*`,\n].filter(Boolean).join(' · ');\n\nconst blocks = [];\nblocks.push({ type: 'header', text: { type: 'plain_text', text: shorten(`${headerText}${title ? ' — ' + title : ''}`, 150), emoji: true } });\nif (specLine) blocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: specLine }] });\n\nif (event === 'comment_added' && comment_body) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*${actor_name || 'Someone'} wrote:*\\n> ${shorten(comment_body, 2500).replace(/\\n/g, '\\n> ')}` } });\n  if (title) blocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: `on: *${title}*` }] });\n} else if (description) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Description*\\n${shorten(description, 2800)}` } });\n}\n\nconst imgs  = (attachments || []).filter(a => a && ((a.mime || '').startsWith('image/') || isImg(a && a.url)));\nconst files = (attachments || []).filter(a => a && !imgs.includes(a));\nif (imgs.length) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Evidence* (${(attachments||[]).length} file${(attachments||[]).length>1?'s':''})` } });\n  imgs.slice(0, 4).forEach(a => { blocks.push({ type: 'image', image_url: a.url, alt_text: a.name || 'evidence' }); });\n}\nif (files.length) {\n  const list = files.slice(0, 8).map(a => `• <${a.url}|${a.name || 'file'}>`).join('\\n');\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: (imgs.length ? '' : '*Evidence*\\n') + list } });\n}\n\nconst statusLower = String(status).toLowerCase();\nconst showClose = event !== 'issue_status_changed' || (statusLower !== 'closed' && statusLower !== 'resolved');\nconst elements = [];\nif (issue_id && showClose) {\n  elements.push({\n    type: 'button',\n    text: { type: 'plain_text', text: 'Mark as closed', emoji: true },\n    style: 'primary',\n    action_id: 'close_issue',\n    value: issue_id,\n    confirm: {\n      title: { type: 'plain_text', text: 'Close this issue?' },\n      text:  { type: 'mrkdwn', text: `Close *${issue_id}* — ${shorten(title, 80)}` },\n      confirm: { type: 'plain_text', text: 'Close it' },\n      deny:    { type: 'plain_text', text: 'Cancel' },\n    },\n  });\n}\nelements.push({ type: 'button', text: { type: 'plain_text', text: 'Open in app', emoji: true }, url: link, action_id: 'open_app' });\nblocks.push({ type: 'actions', elements });\n\nconst fallback = custom_text || `${headerText} — ${title}`.trim();\n\nreturn [{ json: {\n  channel: channel_id || DEFAULT_CHANNEL,\n  text: fallback,\n  blocks,\n  thread_ts: thread_ts || undefined,\n}}];"
      },
      "id": "k1000001-0002-0002-0002-000000000002",
      "name": "Build blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json; charset=utf-8" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.text, blocks: $json.blocks, thread_ts: $json.thread_ts, unfurl_links: false, unfurl_media: false }) }}",
        "options": {}
      },
      "id": "k1000001-0003-0003-0003-000000000003",
      "name": "Slack postMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_SLACK_CRED_ID",
          "name": "Slack account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: $json.ok === true, ts: $json.ts || null, channel: $json.channel || null, error: $json.error || null }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "k1000001-0004-0004-0004-000000000004",
      "name": "Respond notify",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 200]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "m2000001-0001-0001-0001-000000000001",
      "name": "Webhook interact",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 540],
      "webhookId": "rh-slack-interact"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook interact').first().json.body || {};\nlet payload = body.payload;\nif (typeof payload === 'string') {\n  try { payload = JSON.parse(payload); } catch (e) { payload = {}; }\n}\nif (!payload || !payload.actions) return [{ json: { __skip: true } }];\n\nconst action = payload.actions[0] || {};\nconst user = payload.user || {};\nconst channel = (payload.channel && payload.channel.id) || '';\nconst message_ts = (payload.message && payload.message.ts) || '';\nconst response_url = payload.response_url || '';\n\nreturn [{ json: {\n  action_id: action.action_id,\n  value: action.value,\n  user_id: user.id,\n  user_name: user.name || user.username || '',\n  channel,\n  message_ts,\n  response_url,\n  original_blocks: (payload.message && payload.message.blocks) || [],\n}}];"
      },
      "id": "m2000001-0002-0002-0002-000000000002",
      "name": "Parse payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 540]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.action_id }}",
              "rightValue": "close_issue",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "m2000001-0003-0003-0003-000000000003",
      "name": "Is close_issue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 540]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName":  { "__rl": true, "mode": "list", "value": "issues", "cachedResultName": "issues" },
        "options": {}
      },
      "id": "m2000001-0004-0004-0004-000000000004",
      "name": "Read issues",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 460],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse payload').first().json;\nconst issue_id = ctx.value;\nconst rows = $input.all().map(x => x.json);\nconst issue = rows.find(r => r.issue_id === issue_id);\nif (!issue) return [{ json: { __notFound: true, issue_id } }];\nreturn [{ json: {\n  ...issue,\n  status: 'closed',\n  updated_at: new Date().toISOString(),\n}}];"
      },
      "id": "m2000001-0005-0005-0005-000000000005",
      "name": "Build update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName":  { "__rl": true, "mode": "list", "value": "issues", "cachedResultName": "issues" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_id":       "={{ $json.issue_id }}",
            "title":          "={{ $json.title }}",
            "description":    "={{ $json.description }}",
            "category":       "={{ $json.category }}",
            "priority":       "={{ $json.priority }}",
            "status":         "={{ $json.status }}",
            "assigned_to":    "={{ $json.assigned_to }}",
            "ai_triage_note": "={{ $json.ai_triage_note }}",
            "updated_at":     "={{ $json.updated_at }}"
          },
          "matchingColumns": ["issue_id"]
        },
        "options": {}
      },
      "id": "m2000001-0006-0006-0006-000000000006",
      "name": "Update row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1340, 460],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse payload').first().json;\nconst updated = $json;\nconst blocks = (ctx.original_blocks || []).filter(b => b.type !== 'actions');\nblocks.push({\n  type: 'context',\n  elements: [{ type: 'mrkdwn', text: `✅ Closed by <@${ctx.user_id}> at ${new Date().toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' })}` }],\n});\nreturn [{ json: {\n  replace_original: true,\n  text: `✅ ${updated.issue_id} closed`,\n  blocks,\n  response_url: ctx.response_url,\n}}];"
      },
      "id": "m2000001-0007-0007-0007-000000000007",
      "name": "Build reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "Content-Type", "value": "application/json" } ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replace_original: true, text: $json.text, blocks: $json.blocks }) }}",
        "options": {}
      },
      "id": "m2000001-0008-0008-0008-000000000008",
      "name": "Update Slack msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 460],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": { "responseCode": 200 }
      },
      "id": "m2000001-0009-0009-0009-000000000009",
      "name": "Respond interact",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 540]
    }
  ],
  "connections": {
    "Webhook notify":    { "main": [ [ { "node": "Build blocks",     "type": "main", "index": 0 } ] ] },
    "Build blocks":      { "main": [ [ { "node": "Slack postMessage","type": "main", "index": 0 } ] ] },
    "Slack postMessage": { "main": [ [ { "node": "Respond notify",   "type": "main", "index": 0 } ] ] },

    "Webhook interact":  { "main": [ [ { "node": "Parse payload",    "type": "main", "index": 0 } ] ] },
    "Parse payload":     { "main": [ [ { "node": "Is close_issue?",  "type": "main", "index": 0 } ] ] },
    "Is close_issue?":   { "main": [
      [ { "node": "Read issues",      "type": "main", "index": 0 } ],
      [ { "node": "Respond interact", "type": "main", "index": 0 } ]
    ] },
    "Read issues":       { "main": [ [ { "node": "Build update",     "type": "main", "index": 0 } ] ] },
    "Build update":      { "main": [ [ { "node": "Update row",       "type": "main", "index": 0 } ] ] },
    "Update row":        { "main": [ [ { "node": "Build reply",      "type": "main", "index": 0 } ] ] },
    "Build reply":       { "main": [ [ { "node": "Update Slack msg", "type": "main", "index": 0 } ] ] },
    "Update Slack msg":  { "main": [ [ { "node": "Respond interact", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "pinData": {}
}
