n8n/16-slack-interact.json
{
  "name": "RH · slack-interact",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interact",
        "responseMode": "responseNode",
        "options": { "rawBody": false }
      },
      "id": "m2000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "rh-slack-interact"
    },
    {
      "parameters": {
        "jsCode": "// Slack sends an application/x-www-form-urlencoded POST with a single field `payload` = JSON string.\nconst body = $('Webhook').first().json.body || {};\nlet payload = body.payload;\nif (typeof payload === 'string') {\n  try { payload = JSON.parse(payload); } catch (e) { payload = {}; }\n}\nif (!payload || !payload.actions) return [{ json: { __skip: true } }];\n\nconst action = payload.actions[0] || {};\nconst user = payload.user || {};\nconst channel = (payload.channel && payload.channel.id) || '';\nconst message_ts = (payload.message && payload.message.ts) || '';\nconst response_url = payload.response_url || '';\n\nreturn [{ json: {\n  action_id: action.action_id,\n  value: action.value,\n  user_id: user.id,\n  user_name: user.name || user.username || '',\n  channel,\n  message_ts,\n  response_url,\n  original_blocks: (payload.message && payload.message.blocks) || [],\n}}];"
      },
      "id": "m2000001-0002-0002-0002-000000000002",
      "name": "Parse payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.action_id }}",
              "rightValue": "close_issue",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "m2000001-0003-0003-0003-000000000003",
      "name": "Is close_issue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName":  { "__rl": true, "mode": "list", "value": "issues", "cachedResultName": "issues" },
        "options": {}
      },
      "id": "m2000001-0004-0004-0004-000000000004",
      "name": "Read issues",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 220],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse payload').first().json;\nconst issue_id = ctx.value;\nconst rows = $input.all().map(x => x.json);\nconst issue = rows.find(r => r.issue_id === issue_id);\nif (!issue) return [{ json: { __notFound: true, issue_id } }];\nreturn [{ json: {\n  ...issue,\n  status: 'closed',\n  updated_at: new Date().toISOString(),\n}}];"
      },
      "id": "m2000001-0005-0005-0005-000000000005",
      "name": "Build update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "1OOQH2zt8nZ721nMGF0VBYdiVbEkA5dHbaozEF4x6b3c", "cachedResultName": "RefurbHelpdesk_DB" },
        "sheetName":  { "__rl": true, "mode": "list", "value": "issues", "cachedResultName": "issues" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_id":       "={{ $json.issue_id }}",
            "title":          "={{ $json.title }}",
            "description":    "={{ $json.description }}",
            "category":       "={{ $json.category }}",
            "priority":       "={{ $json.priority }}",
            "status":         "={{ $json.status }}",
            "assigned_to":    "={{ $json.assigned_to }}",
            "ai_triage_note": "={{ $json.ai_triage_note }}",
            "updated_at":     "={{ $json.updated_at }}"
          },
          "matchingColumns": ["issue_id"]
        },
        "options": {}
      },
      "id": "m2000001-0006-0006-0006-000000000006",
      "name": "Update row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1340, 220],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_OAUTH_CRED_ID",
          "name": "RefurbHelpdesk OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse payload').first().json;\nconst updated = $json;\nconst blocks = (ctx.original_blocks || []).filter(b => b.type !== 'actions');\nblocks.push({\n  type: 'context',\n  elements: [{ type: 'mrkdwn', text: `✅ Closed by <@${ctx.user_id}> at ${new Date().toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' })}` }],\n});\nreturn [{ json: {\n  replace_original: true,\n  text: `✅ ${updated.issue_id} closed`,\n  blocks,\n  response_url: ctx.response_url,\n}}];"
      },
      "id": "m2000001-0007-0007-0007-000000000007",
      "name": "Build reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "Content-Type", "value": "application/json" } ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replace_original: true, text: $json.text, blocks: $json.blocks }) }}",
        "options": {}
      },
      "id": "m2000001-0008-0008-0008-000000000008",
      "name": "Update Slack msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 220],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 200
        }
      },
      "id": "m2000001-0009-0009-0009-000000000009",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook":         { "main": [ [ { "node": "Parse payload",   "type": "main", "index": 0 } ] ] },
    "Parse payload":   { "main": [ [ { "node": "Is close_issue?", "type": "main", "index": 0 } ] ] },
    "Is close_issue?": { "main": [
      [ { "node": "Read issues", "type": "main", "index": 0 } ],
      [ { "node": "Respond 200", "type": "main", "index": 0 } ]
    ] },
    "Read issues":      { "main": [ [ { "node": "Build update",     "type": "main", "index": 0 } ] ] },
    "Build update":     { "main": [ [ { "node": "Update row",       "type": "main", "index": 0 } ] ] },
    "Update row":       { "main": [ [ { "node": "Build reply",      "type": "main", "index": 0 } ] ] },
    "Build reply":      { "main": [ [ { "node": "Update Slack msg", "type": "main", "index": 0 } ] ] },
    "Update Slack msg": { "main": [ [ { "node": "Respond 200",      "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [],
  "pinData": {}
}
